<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Latest</title>
    <link rel="stylesheet" th:href="@{/css/viewCode.css}">
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div th:each="snippet: ${snippets}">
    <h2 th:text = "${snippet.getHeader()}"></h2>
    <span th:text="'UUID: ' + ${snippet.getSnippetUUID()}"></span>
    <br>
    <span th:text="'Created: ' + ${snippet.getCreateDate()}"></span>
    <br>
    <span th:text="'Available until: ' + (${snippet.getDeleteDate()} ?: 'Forever')"></span>
    <br>
    <span th:text="'Views: ' + ${snippet.getViews()}"></span>
    <br>
    <span th:text="'Views allowed: ' + (${snippet.getViewsLimit()} ?: 'Unlimited')"></span>
    <br>
    <code id="code_snippet" th:text="${snippet.getCode()}"></code>
</div>
</body>
</html>
